<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessClubManagementSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BookClass"
            android:exported="true" />
        <activity
            android:name=".Shop"
            android:exported="true" />
        <activity
            android:name=".AddExercise"
            android:exported="true" />
        <activity
            android:name=".Workout"
            android:exported="true" />
        <activity
            android:name=".Progress"
            android:exported="true" />
        <activity
            android:name=".Trainee_Home"
            android:exported="true" />
        <activity
            android:name=".CardInformation"
            android:exported="true" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true" />
        <activity
            android:name=".MembershipBenefits"
            android:exported="true" />
        <activity
            android:name=".Assessment"
            android:exported="true" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".Settings"
            android:exported="true" />
        <activity
            android:name=".QRCodeMembershipFee"
            android:exported="true" />
        <activity
            android:name=".MembershipFee"
            android:exported="true" />
        <activity
            android:name=".Authentication"
            android:exported="true" />
        <activity
            android:name=".WelcomePage"
            android:exported="true" />
        <activity
            android:name=".CreateNewPassword"
            android:exported="true" />
        <activity
            android:name=".ConfirmEmailActivity"
            android:exported="false" />
        <activity
            android:name=".PostHighlightActivity"
            android:exported="false" />
        <activity
            android:name=".TrainerHomeActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>